@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-g0-0: #fefbf9;
  --color-g0-100: #f9f2eb;
  --color-g0-200: #ede5dc;
  --color-g0-300: #ded5ca;
  --color-g0-400: #cbc1b5;
  --color-g0-500: #b3aaa1;
  --color-g0-600: #989189;
  --color-g0-700: #7b756f;
  --color-g0-800: #5b5753;
  --color-g0-900: #3b3836;
  --color-g0-1000: #1a1918;
  --color-g1-0: #fafcff;
  --color-g1-100: #eff3fb;
  --color-g1-200: #e1e6f0;
  --color-g1-300: #d0d6e2;
  --color-g1-400: #bcc3d0;
  --color-g1-500: #a6acb7;
  --color-g1-600: #8e929b;
  --color-g1-700: #73767d;
  --color-g1-800: #55585d;
  --color-g1-900: #37393c;
  --color-g1-1000: #19191b;
  --color-r8-0: #fffcfb;
  --color-r8-100: #fef1ef;
  --color-r8-200: #ffe1db;
  --color-r8-300: #ffcac2;
  --color-r8-400: #ffaea1;
  --color-r8-500: #df9b90;
  --color-r8-600: #bd857d;
  --color-r8-700: #976d66;
  --color-r8-800: #70524d;
  --color-r8-900: #483532;
  --color-r8-1000: #201817;
  --color-r7y1-0: #fffcfb;
  --color-r7y1-100: #fef1ee;
  --color-r7y1-200: #ffe1d9;
  --color-r7y1-300: #ffcbbd;
  --color-r7y1-400: #ffaf9a;
  --color-r7y1-500: #df9c8a;
  --color-r7y1-600: #bd8678;
  --color-r7y1-700: #976d62;
  --color-r7y1-800: #70524a;
  --color-r7y1-900: #483530;
  --color-r7y1-1000: #201816;
  --color-r6y2-0: #fffcfa;
  --color-r6y2-100: #fff1ec;
  --color-r6y2-200: #ffe1d6;
  --color-r6y2-300: #ffccb8;
  --color-r6y2-400: #ffb091;
  --color-r6y2-500: #df9d83;
  --color-r6y2-600: #bd8772;
  --color-r6y2-700: #976e5e;
  --color-r6y2-800: #705247;
  --color-r6y2-900: #48362f;
  --color-r6y2-1000: #201815;
  --color-r5y3-0: #fffcfa;
  --color-r5y3-100: #fff1ea;
  --color-r5y3-200: #ffe1d2;
  --color-r5y3-300: #ffccb1;
  --color-r5y3-400: #ffb086;
  --color-r5y3-500: #df9d7a;
  --color-r5y3-600: #bc866a;
  --color-r5y3-700: #976d58;
  --color-r5y3-800: #705243;
  --color-r5y3-900: #48352c;
  --color-r5y3-1000: #201814;
  --color-r4y4-0: #fffcf9;
  --color-r4y4-100: #fff1e9;
  --color-r4y4-200: #ffe1ce;
  --color-r4y4-300: #ffccaa;
  --color-r4y4-400: #ffb07a;
  --color-r4y4-500: #df9d70;
  --color-r4y4-600: #bc8762;
  --color-r4y4-700: #976e52;
  --color-r4y4-800: #70533f;
  --color-r4y4-900: #483629;
  --color-r4y4-1000: #201813;
  --color-r3y5-0: #fffcf9;
  --color-r3y5-100: #fff1e6;
  --color-r3y5-200: #ffe2c9;
  --color-r3y5-300: #ffcda2;
  --color-r3y5-400: #ffb269;
  --color-r3y5-500: #df9e63;
  --color-r3y5-600: #bc8858;
  --color-r3y5-700: #976f4a;
  --color-r3y5-800: #705339;
  --color-r3y5-900: #483626;
  --color-r3y5-1000: #201811;
  --color-r2y6-0: #fffcf8;
  --color-r2y6-100: #fff2e3;
  --color-r2y6-200: #ffe2c3;
  --color-r2y6-300: #ffce95;
  --color-r2y6-400: #ffb351;
  --color-r2y6-500: #df9f4f;
  --color-r2y6-600: #bc8849;
  --color-r2y6-700: #976f3f;
  --color-r2y6-800: #705332;
  --color-r2y6-900: #473622;
  --color-r2y6-1000: #20180f;
  --color-r1y7-0: #fffcf7;
  --color-r1y7-100: #fff2df;
  --color-r1y7-200: #ffe3b9;
  --color-r1y7-300: #ffcf83;
  --color-r1y7-400: #ffb410;
  --color-r1y7-500: #dfa029;
  --color-r1y7-600: #bc892f;
  --color-r1y7-700: #966f2d;
  --color-r1y7-800: #6f5426;
  --color-r1y7-900: #47361b;
  --color-r1y7-1000: #20180d;
  --color-y8-0: #fffcf5;
  --color-y8-100: #fff2d6;
  --color-y8-200: #fde4ae;
  --color-y8-300: #f9d178;
  --color-y8-400: #f3b900;
  --color-y8-500: #d5a524;
  --color-y8-600: #b38d2c;
  --color-y8-700: #90722b;
  --color-y8-800: #6a5525;
  --color-y8-900: #44371a;
  --color-y8-1000: #1e190c;
  --color-y7g1-0: #fffdec;
  --color-y7g1-100: #fcf4c1;
  --color-y7g1-200: #f8e888;
  --color-y7g1-300: #ebd75b;
  --color-y7g1-400: #dbc200;
  --color-y7g1-500: #c0ac24;
  --color-y7g1-600: #a2922b;
  --color-y7g1-700: #82762a;
  --color-y7g1-800: #605824;
  --color-y7g1-900: #3e3919;
  --color-y7g1-1000: #1b190c;
  --color-y6g2-0: #fdfee0;
  --color-y6g2-100: #f7f9a4;
  --color-y6g2-200: #ebec83;
  --color-y6g2-300: #dcdc58;
  --color-y6g2-400: #cac800;
  --color-y6g2-500: #b2b124;
  --color-y6g2-600: #96962b;
  --color-y6g2-700: #79792a;
  --color-y6g2-800: #5a5a24;
  --color-y6g2-900: #393a19;
  --color-y6g2-1000: #191a0c;
  --color-y5g3-0: #f9ffe4;
  --color-y5g3-100: #edfbaa;
  --color-y5g3-200: #deef83;
  --color-y5g3-300: #cde058;
  --color-y5g3-400: #b9cc00;
  --color-y5g3-500: #a3b423;
  --color-y5g3-600: #8a982a;
  --color-y5g3-700: #707a29;
  --color-y5g3-800: #535b23;
  --color-y5g3-900: #353a19;
  --color-y5g3-1000: #171a0b;
  --color-y4g4-0: #f7ffe9;
  --color-y4g4-100: #e6fbb8;
  --color-y4g4-200: #d2f285;
  --color-y4g4-300: #bee35a;
  --color-y4g4-400: #a8d000;
  --color-y4g4-500: #95b722;
  --color-y4g4-600: #7f9b2a;
  --color-y4g4-700: #667c29;
  --color-y4g4-800: #4c5c22;
  --color-y4g4-900: #313b18;
  --color-y4g4-1000: #151a0b;
  --color-y3g5-0: #f6ffec;
  --color-y3g5-100: #e0fcbf;
  --color-y3g5-200: #c5f586;
  --color-y3g5-300: #afe75a;
  --color-y3g5-400: #95d400;
  --color-y3g5-500: #85ba22;
  --color-y3g5-600: #729d29;
  --color-y3g5-700: #5c7e28;
  --color-y3g5-800: #455d22;
  --color-y3g5-900: #2c3b18;
  --color-y3g5-1000: #131a0b;
  --color-y2g6-0: #f4ffee;
  --color-y2g6-100: #dafdc3;
  --color-y2g6-200: #b8f889;
  --color-y2g6-300: #9dea5b;
  --color-y2g6-400: #7ed800;
  --color-y2g6-500: #72bd22;
  --color-y2g6-600: #639f29;
  --color-y2g6-700: #518028;
  --color-y2g6-800: #3d5e22;
  --color-y2g6-900: #283c18;
  --color-y2g6-1000: #111a0b;
  --color-y1g7-0: #f3ffef;
  --color-y1g7-100: #d4fdc6;
  --color-y1g7-200: #acf990;
  --color-y1g7-300: #86ed5b;
  --color-y1g7-400: #5edc00;
  --color-y1g7-500: #59c021;
  --color-y1g7-600: #4fa228;
  --color-y1g7-700: #428127;
  --color-y1g7-800: #335f21;
  --color-y1g7-900: #223c17;
  --color-y1g7-1000: #0f1a0a;
  --color-g8-0: #f1fff0;
  --color-g8-100: #cefec8;
  --color-g8-200: #9ffa95;
  --color-g8-300: #67f05b;
  --color-g8-400: #1de000;
  --color-g8-500: #2ec321;
  --color-g8-600: #31a327;
  --color-g8-700: #2e8226;
  --color-g8-800: #256020;
  --color-g8-900: #1a3d16;
  --color-g8-1000: #0c1a0a;
  --color-g7t1-0: #f1fff2;
  --color-g7t1-100: #ccfed1;
  --color-g7t1-200: #9bfaa9;
  --color-g7t1-300: #63ef80;
  --color-g7t1-400: #00de59;
  --color-g7t1-500: #25c254;
  --color-g7t1-600: #2ca34b;
  --color-g7t1-700: #2b823f;
  --color-g7t1-800: #245f30;
  --color-g7t1-900: #193c1f;
  --color-g7t1-1000: #0b1a0e;
  --color-g6t2-0: #f0fff4;
  --color-g6t2-100: #ccfdda;
  --color-g6t2-200: #9af9b9;
  --color-g6t2-300: #63ee9a;
  --color-g6t2-400: #00dd7b;
  --color-g6t2-500: #25c16f;
  --color-g6t2-600: #2da260;
  --color-g6t2-700: #2b814f;
  --color-g6t2-800: #245f3b;
  --color-g6t2-900: #193c26;
  --color-g6t2-1000: #0c1a10;
  --color-g5t3-0: #f0fff6;
  --color-g5t3-100: #cbfde1;
  --color-g5t3-200: #98f9c6;
  --color-g5t3-300: #64edac;
  --color-g5t3-400: #00dc92;
  --color-g5t3-500: #26c082;
  --color-g5t3-600: #2da16f;
  --color-g5t3-700: #2c815a;
  --color-g5t3-800: #255f43;
  --color-g5t3-900: #1a3c2b;
  --color-g5t3-1000: #0c1a13;
  --color-g4t4-0: #f0fff8;
  --color-g4t4-100: #cafde7;
  --color-g4t4-200: #96f8d1;
  --color-g4t4-300: #64ecbb;
  --color-g4t4-400: #00dba4;
  --color-g4t4-500: #26bf90;
  --color-g4t4-600: #2da17b;
  --color-g4t4-700: #2c8063;
  --color-g4t4-800: #255e4a;
  --color-g4t4-900: #1a3c2f;
  --color-g4t4-1000: #0c1a14;
  --color-g3t5-0: #effff9;
  --color-g3t5-100: #c9fcec;
  --color-g3t5-200: #93f8da;
  --color-g3t5-300: #63ebc7;
  --color-g3t5-400: #00d9b2;
  --color-g3t5-500: #26be9c;
  --color-g3t5-600: #2d9f84;
  --color-g3t5-700: #2c7f6a;
  --color-g3t5-800: #255e4f;
  --color-g3t5-900: #1a3b32;
  --color-g3t5-1000: #0c1a16;
  --color-g2t6-0: #eefffb;
  --color-g2t6-100: #c8fcf1;
  --color-g2t6-200: #91f7e3;
  --color-g2t6-300: #63ead3;
  --color-g2t6-400: #00d8bf;
  --color-g2t6-500: #26bda7;
  --color-g2t6-600: #2d9f8d;
  --color-g2t6-700: #2c7f71;
  --color-g2t6-800: #255d54;
  --color-g2t6-900: #1a3b35;
  --color-g2t6-1000: #0c1a17;
  --color-g1t7-0: #eefffd;
  --color-g1t7-100: #c7fcf6;
  --color-g1t7-200: #8ff7ed;
  --color-g1t7-300: #63e9dd;
  --color-g1t7-400: #00d8cb;
  --color-g1t7-500: #26bcb1;
  --color-g1t7-600: #2e9e96;
  --color-g1t7-700: #2c7f78;
  --color-g1t7-800: #255d58;
  --color-g1t7-900: #1a3b38;
  --color-g1t7-1000: #0c1a18;
  --color-t8-0: #eeffff;
  --color-t8-100: #c6fcfb;
  --color-t8-200: #8ff6f5;
  --color-t8-300: #63e8e8;
  --color-t8-400: #00d6d7;
  --color-t8-500: #27bbbc;
  --color-t8-600: #2e9e9e;
  --color-t8-700: #2c7e7e;
  --color-t8-800: #255d5d;
  --color-t8-900: #1a3b3b;
  --color-t8-1000: #0c1a1a;
  --color-t7b1-0: #f4fdff;
  --color-t7b1-100: #d5f7ff;
  --color-t7b1-200: #aeeffd;
  --color-t7b1-300: #7ae3f8;
  --color-t7b1-400: #00d4f2;
  --color-t7b1-500: #27b9d2;
  --color-t7b1-600: #2e9cb0;
  --color-t7b1-700: #2d7d8c;
  --color-t7b1-800: #265c67;
  --color-t7b1-900: #1a3b42;
  --color-t7b1-1000: #0c1a1d;
  --color-t6b2-0: #f6fcff;
  --color-t6b2-100: #def5ff;
  --color-t6b2-200: #bcecff;
  --color-t6b2-300: #8de0ff;
  --color-t6b2-400: #3cd1ff;
  --color-t6b2-500: #41b7de;
  --color-t6b2-600: #3f9bba;
  --color-t6b2-700: #387c94;
  --color-t6b2-800: #2d5c6d;
  --color-t6b2-900: #1e3b45;
  --color-t6b2-1000: #0e1a1f;
  --color-t5b3-0: #f8fcff;
  --color-t5b3-100: #e3f5ff;
  --color-t5b3-200: #c6eaff;
  --color-t5b3-300: #a0ddff;
  --color-t5b3-400: #6acdff;
  --color-t5b3-500: #62b4de;
  --color-t5b3-600: #5798ba;
  --color-t5b3-700: #497a95;
  --color-t5b3-800: #385b6d;
  --color-t5b3-900: #253a46;
  --color-t5b3-1000: #111a1f;
  --color-t4b4-0: #f9fcff;
  --color-t4b4-100: #e7f4ff;
  --color-t4b4-200: #cdeaff;
  --color-t4b4-300: #acdcff;
  --color-t4b4-400: #7fcaff;
  --color-t4b4-500: #74b2de;
  --color-t4b4-600: #6597bb;
  --color-t4b4-700: #547a95;
  --color-t4b4-800: #405a6e;
  --color-t4b4-900: #2a3a46;
  --color-t4b4-1000: #131a1f;
  --color-t3b5-0: #f9fcff;
  --color-t3b5-100: #e9f4ff;
  --color-t3b5-200: #d2e9ff;
  --color-t3b5-300: #b3daff;
  --color-t3b5-400: #8cc7ff;
  --color-t3b5-500: #7fb0de;
  --color-t3b5-600: #6e95bb;
  --color-t3b5-700: #5a7895;
  --color-t3b5-800: #445a6e;
  --color-t3b5-900: #2c3a46;
  --color-t3b5-1000: #141a1f;
  --color-t2b6-0: #fafcff;
  --color-t2b6-100: #ebf4ff;
  --color-t2b6-200: #d5e8ff;
  --color-t2b6-300: #b9d9ff;
  --color-t2b6-400: #97c5ff;
  --color-t2b6-500: #87aede;
  --color-t2b6-600: #7494bb;
  --color-t2b6-700: #5f7896;
  --color-t2b6-800: #48596e;
  --color-t2b6-900: #2f3946;
  --color-t2b6-1000: #15191f;
  --color-t1b7-0: #fafcff;
  --color-t1b7-100: #ecf4ff;
  --color-t1b7-200: #d9e8ff;
  --color-t1b7-300: #bfd8ff;
  --color-t1b7-400: #a0c4ff;
  --color-t1b7-500: #8faddf;
  --color-t1b7-600: #7b94bb;
  --color-t1b7-700: #647796;
  --color-t1b7-800: #4b596f;
  --color-t1b7-900: #313947;
  --color-t1b7-1000: #161a20;
  --color-b8-0: #fbfcff;
  --color-b8-100: #eef3ff;
  --color-b8-200: #dbe7ff;
  --color-b8-300: #c3d7ff;
  --color-b8-400: #a6c3ff;
  --color-b8-500: #94acdf;
  --color-b8-600: #7f92bb;
  --color-b8-700: #677696;
  --color-b8-800: #4e586f;
  --color-b8-900: #323947;
  --color-b8-1000: #161920;
  --color-b7p1-0: #fbfcff;
  --color-b7p1-100: #eff3ff;
  --color-b7p1-200: #dfe6ff;
  --color-b7p1-300: #c9d5ff;
  --color-b7p1-400: #afc1ff;
  --color-b7p1-500: #9baadf;
  --color-b7p1-600: #8591bc;
  --color-b7p1-700: #6c7696;
  --color-b7p1-800: #51586f;
  --color-b7p1-900: #343947;
  --color-b7p1-1000: #171920;
  --color-b6p2-0: #fbfcff;
  --color-b6p2-100: #f1f3ff;
  --color-b6p2-200: #e2e6ff;
  --color-b6p2-300: #ced4ff;
  --color-b6p2-400: #b7beff;
  --color-b6p2-500: #a2a9df;
  --color-b6p2-600: #8b90bc;
  --color-b6p2-700: #717596;
  --color-b6p2-800: #54576f;
  --color-b6p2-900: #363847;
  --color-b6p2-1000: #181920;
  --color-b5p3-0: #fcfcff;
  --color-b5p3-100: #f2f2ff;
  --color-b5p3-200: #e5e5ff;
  --color-b5p3-300: #d4d2ff;
  --color-b5p3-400: #bfbcff;
  --color-b5p3-500: #a9a6df;
  --color-b5p3-600: #908ebc;
  --color-b5p3-700: #757396;
  --color-b5p3-800: #57566f;
  --color-b5p3-900: #383847;
  --color-b5p3-1000: #191920;
  --color-b4p4-0: #fcfcff;
  --color-b4p4-100: #f4f2ff;
  --color-b4p4-200: #e9e4ff;
  --color-b4p4-300: #dad1ff;
  --color-b4p4-400: #c8b9ff;
  --color-b4p4-500: #b1a4df;
  --color-b4p4-600: #968cbc;
  --color-b4p4-700: #797297;
  --color-b4p4-800: #5b556f;
  --color-b4p4-900: #3a3747;
  --color-b4p4-1000: #1a1920;
  --color-b3p5-0: #fdfcff;
  --color-b3p5-100: #f6f2ff;
  --color-b3p5-200: #ede3ff;
  --color-b3p5-300: #e1cfff;
  --color-b3p5-400: #d2b6ff;
  --color-b3p5-500: #b9a2df;
  --color-b3p5-600: #9e8bbc;
  --color-b3p5-700: #7f7197;
  --color-b3p5-800: #5f5570;
  --color-b3p5-900: #3d3748;
  --color-b3p5-1000: #1c1920;
  --color-b2p6-0: #fdfcff;
  --color-b2p6-100: #f9f1ff;
  --color-b2p6-200: #f2e1ff;
  --color-b2p6-300: #e9ccff;
  --color-b2p6-400: #deb1ff;
  --color-b2p6-500: #c39edf;
  --color-b2p6-600: #a687bd;
  --color-b2p6-700: #866e97;
  --color-b2p6-800: #645370;
  --color-b2p6-900: #403648;
  --color-b2p6-1000: #1d1820;
  --color-b1p7-0: #fefcff;
  --color-b1p7-100: #fcf1ff;
  --color-b1p7-200: #f8e0ff;
  --color-b1p7-300: #f3c9ff;
  --color-b1p7-400: #edaaff;
  --color-b1p7-500: #d099e0;
  --color-b1p7-600: #b184bd;
  --color-b1p7-700: #8e6c98;
  --color-b1p7-800: #6a5171;
  --color-b1p7-900: #443548;
  --color-b1p7-1000: #1f1821;
  --color-p8-0: #fffcff;
  --color-p8-100: #fef1fe;
  --color-p8-200: #ffdffd;
  --color-p8-300: #ffc5fc;
  --color-p8-400: #ffa2fc;
  --color-p8-500: #e092dd;
  --color-p8-600: #be7ebb;
  --color-p8-700: #996897;
  --color-p8-800: #714f70;
  --color-p8-900: #493448;
  --color-p8-1000: #211821;
  --color-p7r1-0: #fffcfd;
  --color-p7r1-100: #fef1f8;
  --color-p7r1-200: #ffdff1;
  --color-p7r1-300: #ffc7e7;
  --color-p7r1-400: #ffa7dc;
  --color-p7r1-500: #e095c2;
  --color-p7r1-600: #bd81a5;
  --color-p7r1-700: #986a85;
  --color-p7r1-800: #715063;
  --color-p7r1-900: #493440;
  --color-p7r1-1000: #21181d;
  --color-p6r2-0: #fffcfd;
  --color-p6r2-100: #fef1f6;
  --color-p6r2-200: #ffdfeb;
  --color-p6r2-300: #ffc8dd;
  --color-p6r2-400: #ffa9cc;
  --color-p6r2-500: #e097b5;
  --color-p6r2-600: #bd829a;
  --color-p6r2-700: #986a7d;
  --color-p6r2-800: #71505d;
  --color-p6r2-900: #48343c;
  --color-p6r2-1000: #21181b;
  --color-p5r3-0: #fffcfc;
  --color-p5r3-100: #fef1f4;
  --color-p5r3-200: #ffe0e8;
  --color-p5r3-300: #ffc9d7;
  --color-p5r3-400: #ffaac2;
  --color-p5r3-500: #e099ad;
  --color-p5r3-600: #bd8494;
  --color-p5r3-700: #986b78;
  --color-p5r3-800: #71515a;
  --color-p5r3-900: #48353a;
  --color-p5r3-1000: #21181a;
  --color-p4r4-0: #fffcfc;
  --color-p4r4-100: #fef1f3;
  --color-p4r4-200: #ffe0e5;
  --color-p4r4-300: #ffc9d2;
  --color-p4r4-400: #ffabba;
  --color-p4r4-500: #e099a6;
  --color-p4r4-600: #bd848e;
  --color-p4r4-700: #986c73;
  --color-p4r4-800: #715156;
  --color-p4r4-900: #483538;
  --color-p4r4-1000: #211819;
  --color-p3r5-0: #fffcfc;
  --color-p3r5-100: #fef1f1;
  --color-p3r5-200: #ffe0e2;
  --color-p3r5-300: #ffc9cd;
  --color-p3r5-400: #ffacb3;
  --color-p3r5-500: #df999f;
  --color-p3r5-600: #bd8488;
  --color-p3r5-700: #986c6f;
  --color-p3r5-800: #705153;
  --color-p3r5-900: #483536;
  --color-p3r5-1000: #211818;
  --color-p2r6-0: #fffcfc;
  --color-p2r6-100: #fef1f1;
  --color-p2r6-200: #ffe0e0;
  --color-p2r6-300: #ffcac9;
  --color-p2r6-400: #ffadad;
  --color-p2r6-500: #df9a9a;
  --color-p2r6-600: #bd8584;
  --color-p2r6-700: #986c6c;
  --color-p2r6-800: #705151;
  --color-p2r6-900: #483535;
  --color-p2r6-1000: #211818;
  --color-p1r7-0: #fffcfb;
  --color-p1r7-100: #fef1f0;
  --color-p1r7-200: #ffe1de;
  --color-p1r7-300: #ffcbc6;
  --color-p1r7-400: #ffaea7;
  --color-p1r7-500: #df9b96;
  --color-p1r7-600: #bd8581;
  --color-p1r7-700: #986d69;
  --color-p1r7-800: #70524f;
  --color-p1r7-900: #483534;
  --color-p1r7-1000: #211817;
}
