@import "inter-ui/inter-variable";
@import "material-symbols";
@import "tailwindcss";
@import "tailwindcss-safe-area";

@theme {
  --color-*: initial;
  --color-black: #010101;
  --color-white: #fff;
  --color-g1-0: #f9fbff;
  --color-g1-100: #eef3fa;
  --color-g1-200: #dbe0e8;
  --color-g1-300: #bfc4cc;
  --color-g1-400: #999ea7;
  --color-g1-500: #7a808a;
  --color-g1-600: #5d636e;
  --color-g1-700: #3e434c;
  --color-g1-800: #262b32;
  --color-g1-900: #161a20;
  --color-g1-1000: #0f1115;
  --color-t1b7-400: #5e9ff7;
  --color-t1b7-600: #005fc3;

  --font-sans:
    "InterVariable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji", sans-serif;
  --font-mono:
    SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

@layer base {
  html {
    color: var(--color-g1-800);
    font-feature-settings: "ss01", "ss02", "ss03", "zero", "tnum";
  }
  html[data-appearance-mode="dark"] {
    color: var(--color-g1-200);
    background-color: var(--color-black);
  }
}

@utility font-icon-outlined {
  font-family: "Material Symbols Outlined", sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 20;
  vertical-align: -10%;
}

@utility font-icon-fill {
  font-family: "Material Symbols Outlined", sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 20;
  vertical-align: -10%;
}

@custom-variant dark (
  &:where([data-appearance-mode="dark"], [data-appearance-mode="dark"] *)
);
